<p id="notice"><%= notice %></p>

<strong>Title:</strong>
<%= @book.title %><br>

<strong>Author:</strong>
<%= @book.author%><br>

<strong>Genre:</strong>
<%= @book.genre%><br>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
